.foldersList{
    /* width: calc(100% - var(--preview-width)); */
    width: 100%;
    /* flex-shrink: 3; */

    /* min-height: 0;
    overflow-y: scroll; */

    height: 50%;
    /* height: calc(100% / 3); */
    /* border: 1px solid #000; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: start;
    gap: 10px;

    overflow-y: auto;

}

.foldersList::-webkit-scrollbar{
    width: 3px;
    /* transition: width 0.2s ease-in-out; */
}

.foldersList::-webkit-scrollbar:hover{
    width: 15px;
}

.foldersList::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, .25);
}

.foldersList::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, .5);
}

.foldersList::-webkit-scrollbar-button{
    display: none;
}

.foldersList h2{
    width: 100%;
    text-align: center;
}