.fileBox{
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, .25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fileBox svg{
    height: 30px;
    width: 30px;
}

.empty{
    height: 10px;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fileName{
    height: 10px;
    font-size: 6px;
    width: 50px;
    text-align: center;  
}